*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    background-image: url(imgs/kot.jpg);
    background-size: 600px;
    background-repeat: repeat;
    height: fit-content;
    width: 100vw;
    overflow: hidden;
    font-family: "Delicious Handrawn", serif;
    font-weight: 400;
    font-style: normal;
}
h1{
    color: #FF0000;
    text-align: center;
    background-color: rgba(0,0,0,0.7);
}
main{
    width: fit-content;
}


img{
    height: 60vh;
    top: 0;
    padding: 3% 0;
}

.buttons{
    display: flex;
    flex-direction: row;
    
}

.option1,.option2{
    width: fit-content;
    padding: 15px;
    text-align: center;
    border-radius: 3px;
    font-size: 20px;
    display: inline-block;
    outline: none;
    cursor: pointer;
    line-height: 20px;
    border: none;
    background: red ;
    color: #fff;
    font-family: "Delicious Handrawn", serif;
    font-weight: 400;
    font-style: normal;
}

.option1{
margin-right: 10vw;
transition: all 0.5s;
}
.option2{
margin-left: 10vw;
transition: all 1s;
}

.math{
    transition: all 3s;
    color: white;
    opacity: 0;
    display: flex;
    align-items: center;
    width: 70vw;
    flex-direction: column;
}

@media only screen and (max-width: 600px){
    img{
        width: 100vw;
        height: auto;
        
    }
}